@charset "UTF-8";


/* TELAS DESKTOP */






header {  /* Header -------------------------------------------------------------------------------------------------------------------- */
  padding: 0.75em max(1.5em , 3.5vw);
}





main {/* Main ------------------------------------------------------------------------------------------------------------------------ */
  padding: 1em;
} main > * {
  margin: 2em auto;
}


footer > * { /* Footer ------------------------------------------------------------------------------------------------------------------------------ */
  width: 85%;
  max-width: 75em;
  margin: auto;
} div#notes {
  grid-template-columns: repeat( 3, 1fr);
}